body	{
			background: white;
}
r

#bretour	{
				position: relative;
				left: 1300px;
				bottom: 50px;
				background: linear-gradient(to right, #1DB1DD, #23D0D2);
				border: none;
				padding: 20px 20px;
				border-radius: 10px;
				font-family: verdana;
				font-weight: bold;
				color: white;
				box-shadow: 5px 5px 10px black;
}

#bretour:hover	{
				position: relative;
				left: 1300px;
				bottom: 50px;
				background-color: #c0392b;
				border: none;
				padding: 20px 20px;
				border-radius: 10px;
				font-family: verdana;
				color: black;
				box-shadow: 5px 5px 10px #c0392b;
				transition: 0.5s;
				cursor: pointer;
}

#logo	{
		position: relative;
		left: -175px;
		top: -50px;
	
}

#p1	{
		font-family: fira sans,arial;
		font-size: 20px;
		color:  black;
		margin: 50px;
		padding: 20px;
		box-shadow: 1px 1px 10px;
}

#m1	{
		font-family: verdana;
		font-size: 20px;
		font-weight: bold;
}

#bpm{
		position: relative;
		left: 50px;
		top: -20px;
}

#ampoule	{
				position: relative;
				left: 50px;
				top: -125px;

}

#idée{
		position: relative;
		left: 50px;
		font-size: 15px;
		top: -150px;
		font-style: italic;
}

#onglet1{
		position: relative;
			padding: 15px 20px;
			border-radius: 16px;
			color: white;
			background-color: transparent;
			border-bottom: 20px;
			border: none;
			cursor: pointer;
			font-size: 20px;
			top: -56px;
			left: 50px;
			font-family: segoe ui;
}		

#onglet1:hover{
		position: relative;
			padding: 15px 20px;
			border-radius: 16px;
			color: #e67e22;
			background-color:transparent;
			border-bottom: 20px;
			border: none;
			cursor: pointer;
			font-size: 20px;
			top: -56px;
			left: 50px;
			font-family: segoe ui;
			transition: 0.5s;
}		

#onglet2{
		position: relative;
			padding: 15px 20px;
			border-radius: 16px;
			color: white;
			background-color: transparent;
			border-bottom: 20px;
			border: none;
			cursor: pointer;
			font-size: 20px;
			top: -56px;
			left: 99px;
			font-family: segoe ui;
}	

#onglet2:hover{
		position: relative;
			padding: 15px 20px;
			border-radius: 16px;
			color: #e67e22;
			background-color: transparent;
			border-bottom: 20px;
			border: none;
			cursor: pointer;
			font-size: 20px;
			top: -56px;
			left: 99px;
			font-family: segoe ui;
			transition: 0.5s;
}	

#onglet3{
		position: relative;
			padding: 15px 20px;
			border-radius: 16px;
			color: white;
			background-color: transparent;
			border-bottom: 20px;
			border: none;
			cursor: pointer;
			font-size: 20px;
			top: -56px;
			left: 140px;
			font-family: segoe ui;
}	

#onglet3:hover{
		position: relative;
			padding: 15px 20px;
			border-radius: 16px;
			color: #e67e22;
			background-color: transparent;
			border-bottom: 20px;
			border: none;
			cursor: pointer;
			font-size: 20px;
			top: -56px;
			left: 140px;
			font-family: segoe ui;
			transition: 0.5s;
}	
	
#onglet4{
			position: relative;
			padding: 15px 20px;
			border-radius: 16px;
			color: white;
			background-color: transparent;
			border-bottom: 20px;
			border: none;
			cursor: pointer;
			font-size: 20px;
			top: -56px;
			left: 180px;
			font-family: segoe ui;
}	

#onglet4:hover{
		position: relative;
			padding: 15px 20px;
			border-radius: 16px;
			color:#e67e22;
			background-color: transparent;
			border-bottom: 20px;
			border: none;
			cursor: pointer;
			font-size: 20px;
			top: -56px;
			left: 180px;
			font-family: segoe ui;
			transition: 0.5s;
}	

#bande_horizontale{
padding: 0px;
margin: -10px;
border: none;
display: block;
height: 75px;
background-image:linear-gradient(to right, #2c3e50, black);
box-shadow: 0 5px 10px;
}

#titre{
		font-style: arial;
		font-size: 100px;
		color: Black;
		font-weight: bold;
		
}

#soust{
		color: black;
		font-family: arial;
		font-weight: bold;
		font-size: 60px;
		position: relative;
		top: -50px;
}

#soust:hover{
		color: #95a5a6;
		font-family: arial;
		font-weight: bold;
		font-size: 60px;
		position: relative;
		transition: 0.5s;
		cursor: pointer;
}

#fruit	{
		position: relative;
		top: -165px;
		left: 737px;
}

#ligne{
		padding: 1px;
		margin: 1px;
		border: none;
		display: block;
		height: 1px;
		background: linear-gradient(to right, #27ae60, #2980b9);
		position: relative;
		top: 60px;
}

#video{
		width: 50%;
		border: none;
		box-shadow: 0 0 20px black;
}

#le1	{
		font-size: 50px;
		font-family: Fira sans, arial;
}

#pianoroll{
			box-shadow: 0 0 10px black;
}